@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body,html{
    font-family: "Poppins", sans-serif;
    background: #181A2A;
    color: #FFFFFF;
}
.page-padding{
    padding: 1em 6em ;
}
.universal-btn{
    border: 0;
    outline: 0;
    background: transparent;
    position: relative;
    top: 50px;
}
.universal-btn button{
    background: #4B6BFB;
    color: #fff;
    padding: 10px 5px;
    width: 170px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-page{
padding: 1em 6em;
}
.search-page h3{
    font-weight: 500;
}
.search-page-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.search-page-content marquee{
   font-size: 20px;
    margin-top: 40px;
    font-weight: 600;
    color: red;
    
}